@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fff;
  color: #000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 60px;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: transparent;

  background: #fbfbfb;
  box-shadow: 0px 10px 15px 0px #1919191a;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__icon {
  display: none;
}
.close {
  width: 29.53px;
  height: 29.52px;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 36px;
  padding: 51px 44px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;

  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
  background: #0e1c24;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 435px;

  background: #171717;

  margin: auto;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #fbfbfb;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #cfc0ad;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    width: 267px;
  }
  .header {
    padding: 42px 0px;

    width: 1280px;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;

    -ms-flex-direction: row;
    flex-direction: row;

    flex: 1;

    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;

    position: static;
    width: auto;
    padding-block: 0;
    flex: 1;
    height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation__link-desk {
    display: none;
  }
  .navigation__link {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-navigation__link {
    color: #1d1d1d;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 375px;
  height: 800px;

  margin: auto;
  background-image: url("/image/home/a\ photo\ of\ bright\ desserts\ or\ a\ festive\ cake\ against\ the\ background\ of\ a\ cozy\ interior\ of\ a\ pastry\ shop.png");
}
.home__wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 122px;
  gap: 38px;
}

.home-title {
  width: 335px;

  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fbfbfb;
}

.home-text {
  width: 335px;
  color: #fbfbfb;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .home {
    margin: auto;
    width: 1440px;
    height: 820px;
    background-image: url("/image/home/a\ photo\ of\ bright\ desserts\ or\ a\ festive\ cake\ against\ the\ background\ of\ a\ cozy\ interior\ of\ a\ pastry\ shop\ \(1\).png");
  }

  .home__wrapper {
    padding-top: 219px;
    gap: 44px;
  }

  .home-title {
    width: 1081px;
    font-family: Playfair Display;
    font-size: 72px;
    font-weight: 400;
    line-height: 95.98px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text {
    width: 1081px;

    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home__container-top {
    display: flex;

    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

.about {
  padding: 80px 0 70px;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-title {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #412213;
}
.about-text {
  margin: auto;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  width: 335px;

  padding: 36px 0 22px;
}
.about-img {
  width: 375px;
  height: 375px;

  border-radius: 6px;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 335px;
  padding-top: 22px;
  gap: 8px;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.feature-img {
  width: 48px;
  height: 48px;
}

.feature-text {
  width: 279px;

  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin: auto;
}
.about-img-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 150px 80px 150px 0;
    width: 1440px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    gap: 128px;
  }
  .about-img {
    display: none;
  }
  .about-img-desk {
    display: flex;
    width: 710px;
    height: 710px;

    border-radius: 6px;
  }
  .about-text {
    width: 522px;

    padding: 36px 0 80px;
  }
  .features-container {
    padding: 0;
    width: 522px;
    gap: 18px;
  }
  .feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .feature-img {
    width: 48px;
    height: 48px;
  }

  .feature-text {
    width: 522px;

    margin: auto;
  }
}

.gallery {
  margin: 10px 40px;
  width: 375px;
  margin: auto;
}
.gallery-title {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #412213;
}
.gallery-text {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1d1d1d;
  width: 336px;
  margin: auto;
  padding-top: 36px;
}
.gallery__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  gap: 30px;
  padding: 14px 10.5px;
}
.gallery__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 335px;
  height: 343px;
  padding: 0px 0px 20px 0px;
  background: #cfc0ad;
  overflow: hidden;
  border-radius: 6px;
}

.gallery-img {
  width: 335px;
  height: 235px;
  border-radius: 6px;
}
.gallery-text-bold {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1d1d1d;
  padding: 22px 0 8px;
}
.gallery-item-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1d1d1d;
  padding: 0 10px;
}
@media screen and (min-width: 1200px) {
  .gallery {
    width: 1280px;
    margin: 0 auto;
  }
  .gallery-title {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 63.98px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .gallery-text {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 806px;

    padding-top: 28px;
  }
  .gallery__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    gap: 20px;
    padding: 42px 0 0;
  }
  .gallery__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 413px;
    height: 343px;
    padding: 0px 0px 30px 0px;
    background: #cfc0ad;

    border-radius: 6px;
  }

  .gallery-img {
    width: 413px;
    height: 235px;
    border-radius: 6px;
  }
}
.popular {
  padding: 80px 0;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popular-img {
  width: 375px;
  height: 503px;
  margin: auto;
  border-radius: 6px;
  padding-top: 22px;
}

@media screen and (min-width: 1200px) {
  .popular {
    padding: 150px 0px;

    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    width: 1172px;
    gap: 108px;
  }
  .popular-container {
    width: 400px;
  }
  .popular-text {
    width: 450px !important;
  }
  .popular-img {
    width: 542px;
    height: 711px;

    margin: auto;
    border-radius: 6px;
    padding-top: 0;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 0 20px;
}
.reviews__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 36px;
}
.reviews-item {
  width: 335px;
  height: 250px;
  padding: 32px;
  gap: 22px;
  border-radius: 6px;
  opacity: 0px;
  background: #cfc0ad;

  margin: 0 10px;
}
.avatar {
  display: flex;
  gap: 16px;
  align-items: center;
}
.avater-info-name {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1d1d1d;
}
.avater-info-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1d1d1d;
}
.reviews-item-text {
  padding-top: 22px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1279px;

    margin: auto;
    padding: 0;
  }
  .reviews__list {
    padding-top: 46px;
  }

  .reviews-item {
    width: 413px;
    height: 196px;
    padding: 32px;
  }
  .avatar {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 36px 0 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.form-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 24px 0 8px;
  color: #1d1d1d;
}
.form-input {
  width: 311px;
  height: 48px;
  padding: 12px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  border-radius: 6px;

  border: 1px solid #1d1d1d;
}
.checkbox-button {
  margin-top: 24px;
}
.checkbox-button-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1d1d1d;
}
.checkbox {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1d1d1d;
}
.form-button {
  margin: 36px 0 0;
  text-decoration: none;
  color: #fbfbfb;

  background: #412213;
  width: 171px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  gap: 8px;
  border-radius: 6px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.form-input-two {
  height: 180px;
}
.contact {
  width: 375px;
  margin: auto;
  padding: 80px 0 42px;
}
.contact-img-phone {
  width: 375px;
  height: 400px;

  border-radius: 6px;
}
.contact-img-container {
  padding: 0;
}
.contact-img-text {
  padding-top: 20px;
}
.contact-img-container-title {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #000000;
}
.contact-img-container-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #000000;
}

@media screen and (min-width: 1200px) {
  .form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    gap: 80px;
    padding: 62px 0 0;
  }
  .contact {
    margin: auto;
    width: 1440px;
    padding: 150px 80px 100px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    padding: 0;
  }
  .form-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 24px 0 8px;
    color: #1d1d1d;
  }
  .form-input {
    width: 600px;
  }

  .contact-img-phone {
    width: 600px;
    height: 641px;
  }
  .contact-img-container {
    padding-top: 30px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 11px 19px;
  gap: 17px;
  background: #cfc0ad;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  text-align: center;
  gap: 4px;
}
.footer-text {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #1d1d1d;

  text-decoration: none;
}

.footer-copyright {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #1d1d1d;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: auto;
    padding: 29px 180px;
    align-items: center;
    gap: 36px;
    display: flex;
    align-items: center;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    text-align: center;
    gap: 270px;
  }

  .footer-text {
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 130px 20px 36px;
  background: #fff;
}
.policy-terms-title {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 400;
  line-height: 63.98px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #412213;

  padding-bottom: 36px;
}

.policy-terms-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 32px;
}

.policy-terms-text-one {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.terms-list {
  list-style-type: disc;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-left: 25px;
}
.terms-list li {
  padding-top: 36px;
}
.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 111px 180px 46px;
    align-items: start;
  }

  .policy-terms-title {
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 63.98px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 390px;
  max-width: 1440px;
  padding: 38px 31px;
  text-align: center;
  z-index: 1000;

  display: none;
  background: #fbfbfb;
}

.cookie-popup-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1d1d1d;
}

.cookie-button {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-top: 24px;
  width: 342px;
  height: 74px;
  border: none;
  border-radius: 50px;
  background: #00c0ee;
}

#accept-cookies {
  background: #cfc0ad;
  color: #1d1d1d;
}

@media screen and (min-width: 1200px) {
  .cookie-popup-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .cookie-button {
    width: 342px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
  }
  .cookie-popup {
    width: 1440px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 22px;
  }
}
